@page "/restorestudent/{studentId:int}"
@using BlazorApp1.Models;
@inject StudentService StudentService
@inject NavigationManager NavigationManager
<h3>RestoreStudent</h3>
<button @onclick="RestoreStudentAsync">Restore Student</button>



