@page "/restorestudent/{studentId:int}"
@using BlazorApp1.Models;
@inject StudentService StudentService
@inject NavigationManager NavigationManager
<h3>RestoreStudent</h3>
<button @onclick="RestoreStudentAsync">Restore Student</button>


@code {
    [Parameter]
    public int studentId { get; set; }

    private async Task RestoreStudentAsync()
    {
        try
        {
            int result = await StudentService.RestoreStudentAsync(studentId);

            if (result > 0)
            {
                NavigationManager.NavigateTo("/studentlist");
            }
            else
            {
                
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error deleting student: {ex.Message}");
        }
    }
}
